/** mystyle.css **/

/**body {
    background-image: url("/static/dxXh4Ss-space-hd-wallpapers-1080p.jpg");
}*/

h1 {
    text-align: center;
    font-family: courier;
}

p {
    font-family: courier;
}