{% extends 'nav.html' %}

{% block content %}
<font face='courier', size='6'><center><h1>Wesley Ross</h1><center></font>
<font face='courier'><p style='text-align: center'>I am a motivated and ambitious self-taught Python developer. As a Computer Science student I've learnt and gained experience with Python and Java at a tertiary level. I am currently employed as an IT Technical Coordinator but I am also being mentored in Python development at my current place of employment by our Senior Developer where I have completed a number of development projects and contributed to the company's day-to-day processes with my scripts. My main aim is to be completely focused on development.</p></font>
{% endblock %}