<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Self-taught Python Developer Portfolio Website">
        <meta name="author" content="Wesley Ross">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {font-family:arial;}
            .header {text-align: center; padding: 200px;}
            .bg-img {background-image: url('static/laptop_grey.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; opacity: 1.0;}
            .container {position: absolute; margin: 10px; width: auto;}
            .topnav {overflow: hidden; background-color: rgb(30, 89, 138);}
            .topnav a {float: left; color: #f2f2f2; text-align: center; padding: 14px 16px;             text-decoration: none; font-size: 17px;}
            .topnav a:hover {background-color: #ddd; color: black;}
            h1 {font-family: courier; text-align: center; font-size: 60px; color: white; padding: 0px;}
            h2 {text-align: center;}
            .intro {text-align:left; font-family: courier;}
            /*fieldset {max-width: 1100px; margin: auto;}*/
            .column {float: left; width: 50%; column-gap: 40px;}
            .row:after {content: ""; display: table; clear: both;}
            footer a {color:#000000;}
            footer a:hover {color:blue;}
        </style>
        <title>Self-taught Python Developer - Wesley Ross</title>
    </head>
    <body>
        <div class="bg-img">
         <div class="container">
          <div class="topnav">
            <a href="#A">ABOUT</a>
            <a href="#P">PROJECTS</a>
          </div>
         </div>
         <div class="header">
            <h1>Wesley Ross</h1>
            <p style="font-family: courier; font-size: 30px; color: white;">Self-taught Python Developer</p>
         </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="column">
                <fieldset>
                <h2 id="A" style="text-align: left;">ABOUT <span style="color: rgb(30, 89, 138);">ME</span></h2>
                <p class="intro">I am a motivated and ambitious self-taught <b><i>Python</i></b> developer. As a Computer Science student I've learnt and gained experience with Python and Java at a tertiary level. I am currently employed as an IT Technical Coordinator but I am also being mentored in Python development at my current place of employment by the Senior Developer. I have completed a number of development projects and contributed to the company's day-to-day processes with my code. My main aim is to be completely focused on software development.</p>
                </fieldset>
            </div>
            <div class="column">
                <fieldset>
                    <h3 style="font-weight: bold;">MY SKILLS</h3>
                    <ul><li>Python</li><li>PostgreSQL</li><li>HTML</li><li>Django</li><li>Testing and debugging</li><li>Automation</li><li>Linux Command Line</li><li>Testing and Debugging</li></ul>
                </fieldset>
            </div>
        </div>
        <br>
        <fieldset>
            <legend style="font-weight: bold;">Certifications</legend>
            <pre><span style="font-weight: bold;">Backend web development with Django 2</span>
    Igneus Technologies, Instructor and Udemy</pre>
            <pre><span style="font-weight: bold;">SAS/UWC Joint Certificate</span>
    University of the Western Cape Department of Statistics and Population Studies</pre>
            <pre><span style="font-weight: bold;">Installing and Configuring Windows Server 2012</span>
    Microsoft Official course</pre>
        </fieldset>
        <br>
        <fieldset>
            <legend style="font-weight: bold;">Education History</legend>
            <pre><span style="font-weight: bold;">National Certificate: Systems Support NQF Level 5</span>
    Bytes People Solutions</pre>
            <pre><span style="font-weight: bold;">Bachelor of Science (BSc), Computer Science (INCOMPLETE)</span>
    University of the Western Cape</pre>
        </fieldset>
        <br>
        <fieldset>
            <legend style="font-weight: bold;">Work History</legend>
            <pre><span style="font-weight: bold;">IT Technical Coordinator</span>
    Working within a Linux Debian environment, creating and running Python scripts and software programs, support and maintenance of
    front-end and back-end applications and systems, supporting computer hardware and software issues, trouble-shooting production issues
    and assist with support on customer queries and software testing.</pre>
        </fieldset>
        <br>
        <h2 id="P"><span style="color: rgb(30, 89, 138);">MY </span>PROJECTS</h2>
        <pre><span style="font-weight: bold;">Data Structures and Algorithms (Python)</span>
        <a href="https://github.com/ross-dotcom/Data-Structures-and-Algorithms">https://github.com/ross-dotcom/Data-Structures-and-Algorithms</a>
        <span style="font-weight: bold;">oop.py:</span> defining a class, its behaviours and methods.
        <span style="font-weight: bold;">array.py:</span> initializing an array with 10 random (non-unique) numbers, defining functions for finding the smallest and largest number in the array as well
        as a function to find duplicates.
        <span style="font-weight: bold;">queue.py:</span> defining a class called Queue and demonstrating First In First Out (FIFO).
        <span style="font-weight: bold;">linked_list.py:</span> linked list basics.
        <span style="font-weight: bold;">bfs.py:</span> breadth first search.
        <span style="font-weight: bold;">bubble_sort.py:</span> bubble sort how-to.</pre>
        <pre><span style="font-weight: bold;">Django Website (Django 2, Python, HTML, CSS)</span>
        <a href="https://github.com/ross-dotcom/Django-Website">https://github.com/ross-dotcom/Django-Website</a>
        After completing a Udemy course on 13 April 2020, I decided to create my own website using the basic skills I've learnt.
        The purpose of this site is to add anything and everything I've learnt regarding development, to practice and test my new skill.</pre>
        <pre><span style="font-weight: bold;">Word Frequency (Python)</span>
        <a href="https://github.com/ross-dotcom/Word-Frequency">https://github.com/ross-dotcom/Word-Frequency</a>
        Reads a file, breaks the line into words, strips whitespace and punctuation from words, and converts them to lowercase. The function stats() further
        counts the frequency of each word as well as the percentage and inserts the results into two dictionaries.</pre>
        <pre><span style="font-weight: bold;">Scraper (Python)</span>
        <a href="https://github.com/ross-dotcom/Scraper">https://github.com/ross-dotcom/Scraper</a>
        The Python script web_scraper.py is a web scraper. It scrapes the entire table, outputs specific data from the table and displays the output in a CSV.</pre>
        <hr>
        <footer>
            <p style="text-align:center">
            <span style="font-weight:bold">Email</span>
            wross843@gmail.com
            <br>
            <span style="font-weight:bold">Github</span>
            <a href=https://github.com/ross-dotcom target="_blank">https://github.com/ross-dotcom</a>
            <br>
            <span style="font-weight:bold">LinkedIn</span>
            <a href="https://www.linkedin.com/in/wesley-ross-969664130" target="_blank">https://www.linkedin.com/in/wesley-ross-969664130</a>
            </p>
        </footer>
    </body>
</html>